.content-header{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
.dropdown-text{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    position: relative;
}
.panel{
    border: 2px solid #F6F6FA;
    border-radius: 15px;
}
.panel-header{
    background-color: #F6F6FA;
    padding: 15px;
    margin-bottom: 25px;
}
.graph-inner{
    display: flex;
    width: 100%;
}
.left-legend{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 40px;
    align-items: flex-end;
    text-align: right;
}
.rti-data{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.header-row, .data-row{
    display: flex;
    align-items: center;
    position: relative;
}

.data-row.data-content::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 2px;
    background-color:#F6F6FA;
}
.data-col{
    display: flex;
    width: 80px;
    padding: 10px;
    justify-content: center;
    position: relative;
    z-index: 10;
}
.bg-gray{
    background-color: #F6F6FA;
}
.circle{
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 100;
}
.circle::after{
    content: "";
    width:25px;
    height: 25px;
    display: flex;
    position: absolute;
    border: 2px solid transparent;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.circle.no-val{
    background-color: #F6F6FA;
    width: 10px;
    height: 10px;
}
.circle.has-val{
    width: 20px;
    height: 20px;
    background-color: #2BD788;
}
.circle.has-val::after{
    border-color: #2BD788;
}
.circle.rec-val{
    width: 20px;
    height: 20px;
    background-color: #FF9140;
    justify-content: center;
    align-items: center;
}
.circle.rec-val::after{
    border-color: #FF9140;
    content: '!';
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.circle::before{
    content: attr(data-index-val);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -28px;
    left: 50%;
    background-color: #F6F6FA;
    padding: 2px 5px;
    font-size: 13px;
    transform: translateX(-50%);
    transition: .2s ease-in;
}
.circle.has-val:hover::before, .circle.rec-val:hover::before{
    opacity: 1;
    visibility: visible;
}

/*dropdown*/
.dropdown{
    display: flex;
    width: 300px;
    padding: 15px;
    border: 1px solid #2BD788;
    position: relative;
}

.dropdown::after, .drop .dropdown-text::after{
    border-style: solid;
    border-width: 0px 4px 4px 0;
    content: '';
    display: inline-block;
    height: 10px;
    position: absolute;
    top: 50%;
    vertical-align: top;
    width: 10px;
    right: 20px;
    transform: rotate(45deg) translateX(-50%);
    transition: .2s ease-in;
}

.dropdown-inner{
    position: absolute;
    top:100%;
    background-color: #fff;
    width: 100%;
    top: 110%;
    left: 0;
    padding: 25px;
    visibility: hidden;
    opacity: 0;
    transition: .2s ease;
    z-index: 1000;
}
.dropdown li{
    display: block;
    padding: 5px;
}
.drop .dropdown-text{
    padding: 10px 0;
    border-bottom: 1px solid #F6F6FA;
}
.drop .dropdown-menu{
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.drop:hover > .dropdown-menu{
    animation: .5s slideDown forwards;
}
.dropdown:hover .dropdown-inner{
    visibility: visible;
    opacity: 1;
}
.dropdown:hover::after, .drop:hover .dropdown-text::after{
    transform: rotate(-135deg);
}

.check{
    width: 15px;
    height: 15px;
    padding: 1px;
    margin-right: 5px;
    vertical-align: middle;
}
.av-legend-container{
    min-height: 270px;
    text-align: left;
    align-items: flex-start;
}

.av-legend{
    white-space: pre;
    transform: rotate(90deg);
    transform-origin: center left;
    position: absolute;
    left: 50px;
}


@keyframes slideDown {
    0%{
       
    }
    100%{
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    
}